.active {
    font-weight: bold;
}
.inactive {
    font-weight: normal;
}
.card-img {
    width: 75px;
    position: relative;
}
.fix-div {
    height: 120px;
    width: 450px;
    display: flex;
}
.name-container {
    margin-left: auto;
    margin-right: auto;
}
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.name-class {
    font-size: 24px;
}

.attribute-class {
    font-size: 14px;
}