.card-img {
    width: 100px;
    position: relative;
}
.fix-div {
    height: 150px;
    width: 450px;
    display: flex;
}
.name-container {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    display: inline-block;
    vertical-align: bottom;
}
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.name-class {
    font-size: 30px;
    display: inline;
    margin-right: 50px;
}

.attribute-class {
    font-size: 24px;
    display: inline;
    margin-right: 30px;
}