.active {
    font-weight: bold;
}
.inactive {
    font-weight: normal;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.card-img {
    width: 75px;
}
.card-container {
    width: 450px;
}
.name-container {
    margin-left: auto;
    margin-right: auto;
}
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name-class {
    font-size: 24px;
}

.attribute-class {
    font-size: 14px;
}